@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Få forslag til ord, mens du skriver</h1>
    <br>
  
    <textarea class="form-control" onkeyup="OnKeyUp(event, $(this).val());"></textarea>

    <br><br>
    <div style="text-align:center;">
        <div id="ListDiv" style="width: 45%; display: inline-block;">
            <ul class="wordList" id="CustomDict" style="float : left;">
            </ul>
            <ul class="wordList" id="PreDict" style="float : right;">
            </ul>
        </div>
    </div>

</div>